@model EditTeacherViewModel

@{
    ViewData["Title"] = "Editar docente";
}

<div id="wrapper">
    @await Html.PartialAsync("_AdminBar")
    
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">@ViewData["Title"]</h2>
            </div>
            
        </div>
        <form asp-controller="Teacher" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SNI" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <label asp-for="SNI">
                            <input asp-for="SNI" />
                        </label>
                    </div>
                    <span asp-validation-for="SNI" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="HasProdep" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <label asp-for="HasProdep">
                            <input asp-for="HasProdep" />
                        </label>
                    </div>
                    <span asp-validation-for="HasProdep" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IsResearchTeacher" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <label asp-for="IsResearchTeacher">
                            <input asp-for="IsResearchTeacher" />
                        </label>
                        <span asp-validation-for="IsResearchTeacher" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="Level">
                <label asp-for="LevelId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="LevelId" asp-items="@ViewBag.LevelId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TeacherCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="TeacherCode" class="form-control" data-msg-number="Ingresa un número entero valido" data-rule-number="true" />
                    <span asp-validation-for="TeacherCode" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="KnowledgeAreaId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="KnowledgeAreaId" asp-items="@ViewBag.KnowledgeAreaId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AcademicBodyId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="AcademicBodyId" asp-items="@ViewBag.AcademicBodyId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_Administration"); }
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/Assets/js/teachers-features.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
}